fastapi
uvicorn
boto3
langchain
unstructured
pypdf
python-docx
rank_bm25
langchain-text-splitters
python-multipart
mangum
PyJWT
slowapi
python-jose
pydantic-settings
requests-aws4auth
requests
opensearch-py
pytest
moto