fastapi
uvicorn
boto3
langchain
langchain-openai
pinecone
unstructured
pypdf
python-docx
sentence-transformers
rank_bm25
langchain-pinecone
langchain-text-splitters
pytest
moto
python-multipart
mangum
PyJWT