fastapi
uvicorn
boto3
langchain
unstructured
pypdf
python-docx
sentence-transformers
rank_bm25
langchain-text-splitters
pytest
moto
python-multipart
mangum
PyJWT
slowapi
python-jose
pydantic-settings
requests-aws4auth
requests
opensearch-py